<body>
  <div class="right-button">
    <%= link_to "Welcome Page", "/" %>
    <%= link_to "New Works", "/artists/#{@artist.id}/works/new" %>
  </div>

  <h1>Artists' Works</h1>

  <% @works.each do |work| %>
    <h3>Title: <%= work.title %></h3>
    <p>Available For Purchase: <%= work.available_for_purchase%>
  <% end %>
</body>