

<body>
<div class="front-page">
  <h1>~**Artist Welcome Page**~</h1>
</div>

  <div class="container">
      <li><a href="/artists">Artists</a></li>
      <li><a href="/works">Artists' Works</a></li>
  </div>
  <div class="photo">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQKHl6s03vkxgCSHS7wKx_DCuWASognag1pQDLzXKFEPWZ3ygcO5lNgG9RO4UTFftmzw8s&usqp=CAU" />
  </div>
</body>
