/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.front-page {
  text-align: center;
  color: #2a2a2b;
  background-color: white;
  margin: 20px;
  text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
}

body {
  font-family: Robot Mono;
  padding: 20px;
  color: #2a2a2b;
}

a {
  /* background-color: #35785e; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px; */
 
  width: 197px;
  height: 20px;
  font-family: Robot Mono;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  color: #FFFFFF;
  text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);

  box-sizing: border-box;
  width: 150px;
  height: 48px;
  /* background: #3277FC; */
  background: #0b8795;
  /* border: 1px solid #D9D9D9; */
  /* box-shadow: 0px 4px 3px 1px rgba(0, 0, 0, 0.6); */
  /* border-radius: 16px; */
  text-decoration: none;
  font-family: Robot Mono;
  padding: 15px;

  border: 1px solid #D9D9D9;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.6);
  border-radius: 8px;
}

.main-buttons {
  margin-bottom: 20px;
}

li {
  text-decoration: none;
  font-family: Sans-serif;
  list-style: none;
}
.photo {
  display: flex;
  justify-content: center;
}

img {
  width: 500px;
  height: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 40px;
  margin-right: 40px;
  border-radius: 8px;
  box-shadow: 0px 4px 3px 1px rgba(0, 0, 0, 0.6);
} 

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.artist-header {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
}

.right-button {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-align: center;
}

.artist-main {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.name-create {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form {
  font-family: Robot Mono;
  font-size: 18px;
  padding: 30px;
  margin-top: 20px;
  color: #2a2a2b;
  display: flex;
  flex-direction: column;

  width: 233px;
  height: 152px;

  background: #EA9A6D;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  color: white;
}

.specific-artist {
  display: flex;
  flex-direction: row;
  justify-content: right;
  text-align: center;
}

.create-button {
  background-color: rgb(113, 179, 123);
  border-radius: 8px;
  color: white;
}

.edit-form {
  font-family: Robot Mono;
  font-size: 18px;
  padding: 30px;
  margin-top: 20px;
  color: #2a2a2b;
  display: flex;
  flex-direction: column;

  width: 233px;
  height: 152px;

  background: #EA9A6D;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  color: white;
}