/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.front-page {
  text-align: center;
  color: #2a2a2b;
  background-color: white;
  /* padding: 20px; */
}

body {
  font-family: Sans-serif;
}

a {
  background-color: #35785e; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
}

li {
  text-decoration: none;
  font-family: Sans-serif;
  list-style: none;
}
.photo {
  display: flex;
  justify-content: center;
}

img {
  width: 500px;
  height: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
} 

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.artist-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}